.internship-item {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.internship-item.expired {
    background-color: #f8d7da; /* Light red */
    color: #721c24; /* Dark red text */
}

.internship-item.active {
    background-color: #d4edda; /* Light green */
    color: #155724; /* Dark green text */
}

.link {
    text-decoration: none;
    color: inherit;
}